/* Inline CSS to style the logo */
/* Inline CSS to style the logo */
img.logo {
    display: block;
    margin: 0 auto;
    width: 800px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Center the heading */
.heading {
    text-align: center;
    color: red;
}

/* Add space above and below headings */
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Style the paragraph */
p {
    font-size: 16px;
    line-height: 1.5;
}

/* Style the list */
ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Style the form */
.form-group {
    margin-bottom: 20px;
}

/* Center the button */
.btn {
    display: block;
    margin: 0 auto;
}

/* Center the prediction output */
#prediction_output {
    margin: 0 auto;
}
